@font-face {
  font-family: 'pokemon';
  src: url('../fonts/pokemon_solid-webfont.woff2') format('woff2'),
    url('../fonts/pokemon_solid-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color: lightblue;
}

.navbar {
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    font-family: pokemon;
    font-size: 2rem;
    letter-spacing: 7px;
    color: rgb(14, 177, 14);
    text-shadow: 3px 6px 0 lighten(rgb(14, 177, 14), 33%);
  }

  .logo {
    display: flex;
    gap: 12px;
    align-items: center;
    text-decoration: none;

    &:hover {
      svg.sun {
        animation: spin 5s linear infinite;
      }
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#cities {
  //   border: 2px solid red;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;

  .city {
    border: 1px solid blue;
    min-width: 200px;
    min-height: 200px;
  }
}
