@use './utilities';
@import './config';

@font-face {
  font-family: 'pokemon';
  src: url('../fonts/pokemon_solid-webfont.woff2') format('woff2'),
    url('../fonts/pokemon_solid-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color: lightblue;
}

.navbar {
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    font-family: pokemon, sans-serif;
    font-size: 2rem;
    letter-spacing: 7px;
    color: $main-green;
    text-shadow: 3px 6px 0 lighten($main-green, 33%);
  }

  .logo {
    display: flex;
    gap: 12px;
    align-items: center;
    text-decoration: none;

    &:hover {
      svg.sun {
        animation: spin 5s linear infinite;
      }
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#cities {
  //   border: 2px solid red;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;

  .city {
    border: 1px solid blue;
    min-width: 200px;
    min-height: 200px;
  }
}

#search-city {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 16px;

  input {
    @extend %reset-appearance;

    width: 33%;
    height: 30px;
    border-radius: 999px;
    padding: 0 12px;
    outline: 4px solid $main-green;
    background-color: lighten($main-orange, 5%);

    &:focus {
      width: 35%;
    }
  }

  button {
    @extend %reset-appearance;

    cursor: pointer;
    font-family: pokemon, sans-serif;
    letter-spacing: 2px;
    color: $main-green;
    text-shadow: 2px 2px 0 lighten($main-green, 33%);

    &:focus,
    &:hover {
      transform: scale(1.1);
    }
  }
}

// BIG DEVICES
@media (max-width: 992px) {
  .cloud.outer {
    display: none;
  }
}

// MEDIUM DEVICES
@media (max-width: 768px) {
  .cloud.middle {
    display: none;
  }
}

// SMALL DEVICES
@media (max-width: 576px) {
  .cloud.inner {
    display: none;
  }
}
