body {
  margin: 0;
  font-family: sans-serif;
}

#cities {
    border: 2px solid red;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;

    .city {
        border: 1px solid blue;
        min-width: 200px;
        min-height: 200px;
    }
}
